{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
      <div class="container col-md-6 shadow py-3">
        <form method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
            <h4 class="font-weight-bold border-bottom mb-4">Join Today</h4>
            {{ form|crispy }}
          </fieldset>
          <div class="form-group">
            <button class="btn btn-outline-info" type="submit">SignUp</button>
          </div>
        </form>
        <div class="border-top pt-3">   
            Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Login</a>
        </div>
      </div>
{% endblock content %}
