{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container d-flex justify-content-center">
    
        <div class="col-md-8 card">
            <h1 class="card-header text-danger">Signup</h1>
            <p class="text-success"><b>Note: </b>We only accept Lipa na Mpesa for payments. 
                Make sure to include your mpesa phone number for automated payment requests.
            </p>

            <form method="post" action=".">
                {% csrf_token %}
        
                {{ form|crispy }}

                {{ userprofile|crispy}}
        
                <div class="field">
                    <div class="control">
                        <button class="btn btn-danger text-light font-weight-bold my-2">Signup</button>
                    </div>
                </div>
            </form>
        </div>
    
</div>
{% endblock %}