body {
    background-color: #f9f9f9f0!important;
}

.shadow {
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
}

.shadow2 {
    box-shadow: 0px 0px 5px 1px yellow;

}


.shadow3 {
    box-shadow: 0px 9px 10px -3px rgb(148, 148, 148);
}

.shadow1 {
    box-shadow: -1px 0px 10px 1px rgb(167, 167, 167);
}


.masthead {
    background-color: #00838c;
}

.help {
    color: green;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #007a6a;
    /*color: #006a5c;
    /*color: rgb(27, 134, 0);*/
    
}

.post-title {
	color: #007a6a;
}


a {
   color: #007a6a; 
   
}

a:hover {
	color: rgb(0, 184, 122);
}

p {
    color: #4c4c4c;
   
}

.navbar {
    background-color: #007a6a;
    border-right: 5px;
    height: auto;
    /*#004635*/
}

.navbar-light {
    background-color: #f2f2f2;
}

.form-control-xxx {
    width:200px;
    display: inline;
}

.form-control-xxxx {
    width:50px;
    display: inline;
}

.header {
    margin-bottom: 20px;
}
.navbar a {
    /*color: #f8f8f8;*/
    color: #f8f8f8;
}


.navbar p {
    /*color: darkgrey;*/
    color: yellow;
}

 .btn-outline-info {
    color: #007a6a;

}


.btn-info {
    background-color: #009e89;

}


.badge-info {
    background-color: #009e89;

}


.heading h3 {
   
    text-align: center;
    padding-inline-start: 5px;
    padding-inline-end: 5px;
    
}

.list-group-item {
	background-color: #f8f8f8!important;
	color: rgba(0, 114, 51, 0.877);
}

.heading a {
    color: yellow;
    text-decoration: none;
}

.heading {
    border-radius: 5px;
}

.container-fluid {
    width: 70%;
    /*background-image: url("images/bg22.jpg");*/
}


.flex-container {
    display: flex;
    flex-flow: row wrap;

}

.flex-container1 {
    background-color: #ffffff;
    display: flex;
    flex-flow: row wrap;
    /*justify-content: center;
    align-items: center;*/
    
   
}



.box-element{
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
    width: 100%;
    height: 220px;
}

.text-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}


.profile {
    width: 70px;
    height: 70px;
}




.comment {
    color: #d3d3d3;
}


/* Style all font awesome icons */

.fdetail {
    padding: 7px;
    font-size: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    float: right;
}


/* Set a specific color for each brand */


/* Facebook */

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fbg {
    background: #3B5998;
    color: #ffffff;
}

.fa-instagram {
    background: #DC1D49;
    color: white;
}


/* Twitter */

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(243, 243, 243);
    color: #dedede;
    text-align: center;
}

.social-btn .btn {
    border: none;
    margin: 8px 3px 5px;
    opacity: 1;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}


.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

.cart-image {
    width: 80px;
    height: 80px;
}

@media only screen and (max-width: 1200px) {

    .thumbnail{
        width: 100%;
        height:230px;
        -webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
        -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
        box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    }
}







