{% extends 'core/base.html' %}

{% block title %}Welcome | {% endblock %}
{% load static %}
{% block content %}   
    
        <header class="masthead">
            <div class="overlay"></div>
            <div class="container col-md-12">
                
                <div class="row">
                   
                        <div class="col-md-3">
                            <img class="img-fluid col-md-12" src="{% static 'uploads/sokomoto.jpg' %}">
                        </div>
                        <div class="col-md-5 xx text-center"> 
                            
                            <h1 class="site-heading mt-3 text-white font-weight-bold text-center"> 
                                 Bidhaa Bora, Bei Nafuu! </h1>
                            <p class="text-center text-white">@soko moto</p>
                                              
                                
                                    
                                
                       </div>  
                        <div class="col-md-4 xx mt-4">
                            <form method='get' action="{% url 'search' %}">
                                <div class="form-group">
                                    <input class="form-control form-control-xxx" type="text" placeholder="Search..." aria-label="Search" name="query">
                                    <button class="btn btn-outline-light" type="submit">Search</button>
                                </div>
                            </form>
                            <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                CATEGORIES
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for category in menu_categories %}
                                <a href="{% url 'category' category.slug %}" class="dropdown-item">{{ category.title }}</a>
                                {% endfor %}
                            </div>
                        
                            
                            <!--a class="nav-item nav-link" href="{% url 'vendors' %}">VENDORS</a-->
                        </div>      
                                <br>
                     
                </div>

            </div>
        </header>
        
        <div class="container-fluid">
            <div class="flex-container bg-lightt pt-3 pl-3 mt-3" style="border-radius: 10px;">
                {% for cat in menu_categories %}
                <div class="cat-thumbnail bg-red text-center">
                    <a href="{% url 'category' cat.slug %}" class="text-light font-weight-bold">{{cat.title}}
                        <img src="{{ cat.get_thumbnail }}" class="img-fluid">
                        
                    </a> 
                </div>
                
                {%endfor%}
            </div>
            <div class="col-md-3 bg-dangerr mt-3" style="border-radius: 10px;">
                <h3 class="text-center font-weight-bold text-light">Recent items</h3>
            </div>
            
            
            <div class="flex-container col-md-12" id="listapp">
                <!--div class="container" v-if="showMessage">
                    <div class="col-md-4 bg-warning text-light py-2">
                        Item added to the cart!
                    </div>
                </div-->
                {% for product in newest_products %}
                    {% include 'product/parts/list_item.html' %}
                {% endfor %}
                
            </div>
        </div>
    
{% endblock %}
{% block scripts %}
    <script>
        var listapp = new Vue({
            el: '#listapp',
            delimeters: ['[[', ']]'],
            store: store,
            data () {
                return {
                    showMessage: false,
                    images: [{{ imagesstring|safe }}]
                }
            },
            mounted() {
                console.log('Mounted');
            },
            methods: {
               
                addToCart(product_id) {
                    console.log('Product_id:', product_id);
    
                    var data = {
                        'product_id': product_id, 
                        'update': false,
                        'quantity': 1
                    };
                        
                    fetch('/api/add_to_cart/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        credentials: 'same-origin',
                        body: JSON.stringify(data)
                    })
                    .then((response) => {
                        console.log(response)
    
                        this.showMessage = true
    
                        store.commit('increment', 1);
    
                        setTimeout(() => {
                            this.showMessage = false
                        }, 2000)
                    })
                    .catch(function (error) {
                        console.log('Error 2');
                        console.log(error);
                    })
                }
            }
        });
    </script>
    {%endblock%}
    