{%  extends 'core/base.html'  %}


{% block content %}

  
            
            
                <div class="container-fluid py-3 shadow" id="productapp">
                    <!--div class="container messages" v-if="showMessage">
                        <div class="col-md-4 bg-warning text-light py-2">
                            The product was added to the cart!
                        </div>
                    </div-->
                    
                    <div class="py-3 px-3">
                        <div class="row">
                            
                            <div class="col-md-6">
                                {% if product.image %}
                                <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                {% endif %}
                            </div>
                            
                            <div class="col-md-4">    
                                    <h3 class="font-weight-bold">{{ product.title }}</h3>
                                    <h6 class="text-black">
                                        KSh {{ product.price }}                                  
                                    </h6>    
                                    
                                    <p class="mt-2"><strong>Description: </strong> {{ product.description | safe}}</p>   
                                 

                                    {% if product.in_cart %}
                                        <a href="{% url 'cart' %}" class="btn btn-warning text-light font-weight-bold">Go to Cart</a>
                                    {% else %}
                                        {% if product.num_available > 0 %}
                                        <a @click="addToCart({{ product.id }})" class="badge badge-danger text-light" 
                                            onclick="myFunction()">Add to cart</a>
                                            <div id="snackbar">Item added to Cart!</div>
                                        {% else %}
                                            <p class="text-danger">The product is out of stock!</p>
                                        {% endif %}
                                    {% endif %}
                                    
                                    
    
                                                                
                                   
                            </div> 
                            <div class="col-md-2">
                                <div class="card mt-3">
                                    <a href="{% url 'vendor' product.vendor.id %}"> 
                                        <h6 class="font-weight-bold py-2 text-center text-light card-header bg-lightt">{{ product.vendor.business_name }}'s Store</h6>   
                                        <img class="img-fluid card-body" src="{{product.vendor.profile_pic.url}}">
                                        
                                    </a>
                                </div> 
                                  
                            </div>   
                        </div>
                    </div>  
                  

                    {% if similar_products %}
                        <hr>
                        <div class="col-md-12 navbar-light py-3">
                            <h3>Similar Items</h3>
                        </div>
                        <div class="flex-container">
                            {% for product in similar_products %}
                                {% include 'product/parts/list_item.html' %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                
        


{% endblock content %}
{% block scripts %}
<script>
    var productapp = new Vue({
        el: '#productapp',
        delimeters: ['[[', ']]'],
        store: store,
        data () {
            return {
                showMessage: false,
                images: [{{ imagesstring|safe }}]
            }
        },
        mounted() {
            console.log('Mounted');
        },
        methods: {
           
            addToCart(product_id) {
                console.log('Product_id:', product_id);

                var data = {
                    'product_id': product_id, 
                    'update': false,
                    'quantity': 1
                };
                    
                fetch('/api/add_to_cart/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then((response) => {
                    console.log(response)

                    this.showMessage = true

                    store.commit('increment', 1);

                    setTimeout(() => {
                        this.showMessage = false
                    }, 2000)
                })
                .catch(function (error) {
                    console.log('Error 2');
                    console.log(error);
                })
            }
        }
    });
</script>
{%endblock%}



    

